<ion-header>
  <div>
    <img src="../../assets/images/heroimage.jpg" class="hero">
    <div>
      <ion-icon class="evening" name="arrow-back-outline"></ion-icon>
      <ion-icon class="evening2" name="share-social-outline"></ion-icon>
      <ion-icon class="evening3" name="star-outline"></ion-icon>
    </div>
  </div>
  <div class="disc">
    <h1 id="discription"> Discription about station</h1>
  </div>
</ion-header>
<ion-content>
  <div class="rightmain">
    <ion-icon name="alert-circle-outline" class="right"></ion-icon>
    <h2>You have never checked in here</h2>
  </div>
  <!--icon row-->
  <ion-card class="lastcard">
    <ion-grid>
      <ion-row class="row">
        <ion-col size="3" class="letter">
          <ion-icon name="notifications-outline" class="icon"></ion-icon>
          <h1>ALERT</h1>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="camera-outline" class="icon"></ion-icon>
          <h1>ADD PHOTO</h1>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="navigate-outline" class="icon"></ion-icon>
          <h1>NAVIGATE</h1>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="create-outline" class="icon"></ion-icon>
          <h1>EDIT</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!--cost-->
  <ion-card class="lastcard">
    <ion-card-header class="heading">
      Cost
    </ion-card-header>
    <ion-card-content>
      <p>
        DC:<br>
        $0.35/kWh
        <br>
        AC:<br>
        $0.26/kWh
      </p>
    </ion-card-content>
  </ion-card>

  <div class="plugs1">
    <h1 style="font-size :20px;">PLUGS</h1>
    <ion-button style="margin-top: 15px;" >DETAILS</ion-button>
  </div>

  <!--plugs-->
  <ion-card class="lastcard">
    <ion-grid class="plugs">
      <ion-row>
        <ion-col size="3">
          <img src="../../assets/images/charger1.jpg" height="50" class="charger">
        </ion-col>
        <ion-col size="6" class="station">
          <div class="station">
            <p>
              CCS/SAE
              <br>
              Network-bp pulse

              <ion-button size="small" color="medium" class="button">1 station</ion-button>
            </p>
          </div>
        </ion-col>
        <ion-col size="3">
          <p>
            50 kW
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="plugs">
      <ion-row>
        <ion-col size="3">
          <img src="../../assets/images/charger without bacground2.svg" height="70px" class="charger">
        </ion-col>
        <ion-col size="6" class="station">
          <div class="station">
            <p>
              CHAdeMo
              <br>
              Network-bp pulse
              <ion-button size="small" color="medium">1 station</ion-button>
            </p>
          </div>
        </ion-col>
        <ion-col size="3">
          <p>
            50 kW
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="plugs">
      <ion-row>
        <ion-col size="3">
          <img src="../../assets/images/charger3.jpg" height="50px" class="charger">
        </ion-col>
        <ion-col size="6" class="station">
          <div class="station">
            <p>
              Type 2
              <br>
              Network-bp pulse
              <ion-button size="small" color="medium">1 station</ion-button>
            </p>
          </div>
        </ion-col>
        <ion-col size="3">
          <p>
            43.6 kW
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>



  <!--type 2-->
  <ion-card class="lastcard">
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../assets/images/charger1.jpg" height="50px" width="50px" color="black" style="margin-top:15px">
      </div>
      <div class="grid-item">
        <p style="margin-left:-60px;">CCS/SAE</p>
        <p style="margin-top:-20px;">Network-bp pulse</p>
        <div style="margin-top: -25px ; margin-left: -50px;">
          <ion-button color="medium" class="new" size="small">1 station</ion-button>
        </div>
      </div>
      <div class="grid-item">
        <p>43.6 kW</p>
      </div>
      <div class="grid-item">
        <img src="../../assets/images/charger without bacground2.svg" height="60px" width="50px" color="black"
          style="margin-top:15px">
      </div>
      <div class="grid-item">
        <p style="margin-left:-60px;">CHAdeMo</p>
        <p style="margin-top:-20px;">Network-bp pulse</p>
        <div style="margin-top: -25px ; margin-left:-50px;">
          <ion-button color="medium" class="new" size="small">1 station</ion-button>
        </div>
      </div>
      <div class="grid-item">
        <p>50 kW</p>
      </div>

      <div class="grid-item">
        <img src="../../assets/images/charger3.jpg" height="50px" width="50px" color="black" style="margin-top:15px">
      </div>
      <div class="grid-item">
        <p style="margin-left:-60px;">Type 2</p>
        <p style="margin-top:-20px;">Network-bp pulse</p>
        <div style="margin-top: -25px ; margin-left: -50px;">
          <ion-button color="medium" class="new" size="small">1 station</ion-button>
        </div>
      </div>
      <div class="grid-item">
        <p>43.6 kW</p>
      </div>
    </div>
  </ion-card>



  <ion-card class="lastcard">
    <div style="display: flex; justify-content: space-between; ">
      <div>
        <img style="height: 60px;" src="../../assets/images/charger1.jpg" color="black">
      </div>
      <div>
        <p style="margin-bottom:-14px ;">css/sae</p>
        <p style="margin-bottom: 0px;">network-bp pulse</p>
        <ion-button size="small" color="medium">1 station</ion-button>
      </div>
      <div>
        <p>43.6 kW</p>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>
        <img style="height: 80px;" src="../../assets/images/charger without bacground2.svg" color="black">
      </div>
      <div>
        <p style="margin-bottom:-14px ;">css/sae</p>
        <p style="margin-bottom: 0px;">network-bp pulse</p>
        <ion-button size="small" color="medium">1 station</ion-button>
      </div>
      <div>
        <p>43.6 kW</p>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>
        <img style="height: 60px;    " src="../../assets/images/charger3.jpg" color="black">
      </div>
      <div>
        <p style="margin-bottom:-14px ;">css/sae</p>
        <p style="margin-bottom: 0px;">network-bp pulse</p>
        <ion-button size="small" color="medium">1 station</ion-button>
      </div>
      <div>
        <p>43.6 kW</p>
      </div>
    </div>
  </ion-card>

  <!--chechins-->

  <div class="plugs1">
    <h1 style="font-size :20px;">CHECKINS</h1>
    <ion-button style="margin-top: 15px;" >MORE</ion-button>
  </div>




  <ion-card class="lastcard">
    <div class="checkin">
      <div>
        <img src="../../assets/images/hondaimage.jfif" height="40px">
      </div>
      <div>
        <h1 class="name">Arshia Aslam</h1>
        <p class="leave">Leave a checkin</p>
      </div>
    </div>
    <div class="comment">
      <img src="../../assets/images/plus.png" class="image3">
      <img src="../../assets/images/minus.png" class="image3">
      <img src="../../assets/images/bluebutton 2.png" class="image3">
    </div>
    <hr>
    <div class="schedule">
      <div>
        <img src="../../assets/images/bmw.png" height="40px" width="50px">
      </div>
      <div>
        <img src="../../assets/images/plus.png" height="40px" widhth="50px" style="margin-left :20px;">
      </div>
      <div>
        <h1 class="name">Gurpreet Singh</h1>
        <p class="leave ">BMW 330e Plug-in Hybird</p>
      </div>
      <div>
        <h1 style="margin-left: 70px;">10 Jan 2021</h1>
      </div>
    </div>
    <div>
      <p style="text-align:center ;   margin-top:-5px ; font-weight: lighter;">Mennekes (Type2)</p>
    </div>
    <div class="schedule">
      <div>
        <img src="../../assets/images/bmw.png" height="40px" width="50px">
      </div>
      <div>
        <img src="../../assets/images/plus.png" height="40px" widhth="50px" style="margin-left :20px;">
      </div>
      <div>
        <h1 class="name">Gurpreet Singh</h1>
        <p class="leave ">BMW 330e Plug-in Hybird</p>
      </div>
      <div>
        <h1 style="margin-left: 70px;">10 Jan 2021</h1>
      </div>
    </div>
    <div>
      <p style="text-align:center ;   margin-top:-5px ; font-weight: lighter;">Mennekes (Type2)</p>
    </div>

  </ion-card>


  <div class="plugs1">
    <h1 style="font-size :20px;">PHOTOS</h1>
    <ion-button style="margin-top: 15px;" >VIEW ALL</ion-button>
  </div>



  <ion-card class="lastcard">
    <div class="container">
      <div>
        <img src="../../assets/images/chargingstation.jfif">
      </div>
      <div>
        <img src="../../assets/images/chargingstation2.jpg">
      </div>
      <div>
        <img src="../../assets/images/chargingstation3.jfif">
      </div>
    </div>
    <div class="cameramain">
      <ion-icon name="camera-outline" class="camera"></ion-icon>
      <h1 style="color:blue ;">ADD PHOTO</h1>
    </div>
  </ion-card>





</ion-content>