<ion-header>
  <div>
    <img class="logo-img " src="../../assets/images/logo1.jpg">
  </div>
</ion-header>
<ion-content>
  <div class="center">
    <div heading-1>
      <h1 big-heading>Login</h1>
      <h2 small-heading>Register</h2>
    </div>
    <ion-label class="feild">
      Please enter the feilds below for Login
    </ion-label>
    <ion-item transperant>
      <img icon-small src="../../assets/images/username.png">
      <ion-input type="email" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item transperant>
      <img icon-small src="../../assets/images/password.png">
      <ion-input type="Password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-label class="forget-password">Forgot Password</ion-label>
    <div linespace></div>
  </div>
  <ion-button color="dark" class="ion-button-class" shape="round" size="large" expand="block" a>LOGIN</ion-button>
  <ion-label class="ion-text-centre"> Don't have Account? Register

  </ion-label>
</ion-content>